{% extends 'base.html.twig' %}

{% block title %}RippleBase Blog{% endblock %}

{% block body %}

    {% include 'partials/navbar.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <h1 class="text-center">Ripplebase Blog</h1>

        {% include 'partials/_publication_loop.html.twig' with {
            'title': 'Nos derniers événements',
            'publications': lastPublications
        } %}

    </div>
{% endblock %}
